* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

   body{
       background: #cddc39;
    @import 'https://fonts.googleapis.com/css?family=Raleway'

   }

   .headerBox  {
    background: radial-gradient(rgb(139, 2, 87), rgb(0, 0, 0)); 
    height:30vh;
    color:#cddc39;
    text-align: center;
    padding-top: 20px;
    display:flex;
   
}

div.nav
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 5em 3em;
	text-align: center;
    display: inline;
    flex:end;
}

div.nav a
{
    color: #cddc39;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 50px;
    padding: 10px 10px;
    position: relative;
    display:inline;
    cursor: pointer;
    z-index: 0;
    flex:wrap;
}
h1{
    font-size: 60px;
    padding: 60px 0 0 120px;
    justify-content: center;
    display: inline;
}


/* Border from Y to X  */
div.borderYtoX a:before, div.borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
    display: inline;
   
}

div.borderYtoX a:before
{
    left: 0px;
    top: 0px;
}

div.borderYtoX a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderYtoX a:hover:before, div.borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}

/* Border X get width  */
div.borderXwidth a:before, div.borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}


div.borderXwidth a:hover:before, div.borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}

.card-color{
    background-color: #eadfff;
    border-color: #484d57;
}
.storage-color{
    background-color: #a8b7cd;
    border-color: #3c5685;
}
.storage-color:hover{
    background-color: #eadfff;
}
.storage-color:focus{
    background-color: #eadfff;
    border-color: #680515;
    border:solid 1px;
    
}
.btn-color{
    background-color: rgb(139, 2, 87);
    color: #b1bed4;
    border-color:rgb(139, 2, 87);
}
.btn-color:hover{
    background-color: rgb(139, 2, 87);
    color:  #94abcd;
    border-color:rgb(139, 2, 87);
}
.search-color{
    background-color: #a8b7cd;
    border-color: rgb(139, 2, 87);
}
.search-color:hover{
    background-color: #94abcd;
    border-color: #314a78;
}
.search-color:focus {
    background-color: #94abcd;
    border-color:rgb(139, 2, 87);
}
#todayWeather {
    display: none;
}

/* classes to set color for UV Index */
.badge-green {
    background-color: yellowgreen;
    border:solid 1px;
    border-color: rgb(139, 2, 87);
}
.badge-yellow {
    background-color: yellow;
    border:solid 1px;
    border-color:  rgb(139, 2, 87);
}
.badge-orange {
    background-color: orange;
    border:solid 1px;
    border-color:  rgb(139, 2, 87);
}
.badge-red {
    background-color: orangered;
    border:solid 1px;
    border-color:  rgb(139, 2, 87);
}

/* Moving text inside Current Day Weather */
#city-name{
    padding-left: 3%;
    font-size: 160%;
}
#date{
    padding-left: 2%;
    font-size: 160%;
}
#weather-icon{
    position: relative;
    left: 10%;
    top: -40%;
}
#special-row{
    margin-bottom: -12%;
}
#temperature{
    margin-top: 0%;
}



